@*@model IEnumerable<AppLocationVehicleASP.Models.Category>*@

@{
    ViewData["Title"] = "View";
}


<li class="nav-item">
    <a class="nav-link text-dark" asp-controller="Agency" asp-action="Index">Par Agence</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-controller="Agency" asp-action="Index">Par Categories</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-controller="Agency" asp-action="Index">Par Model</a>
</li>

